body,
html {
  margin: 0px;
  height: 100%;
  overflow-y: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  /* overflow: hidden; */
}
#snow-fall-container {
  width: 100%;
  height: 100vh;
  background: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-animation-container {
  /* width: 900px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
  padding: 24px;
  margin: 0 auto;
  border-radius: 20%;
  /* height: 500px; */
  margin: auto;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  margin-top: 15%;
  margin-left: 15%;
}
.snow-fall-container svg {
  width: 100%;
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}
#snow {
  animation: moving 3s alternate infinite ease-in;
}
#cap {
  /* transform: rotate(90deg); */
  /* animation: playingHand 2s alternate infinite linear; */
}
@keyframes playingHand {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(-4deg) translateY(10px);
  }

  100% {
    transform: rotate(-4deg) translateY(10px) rotate(5deg);
  }
}
@keyframes moving {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-30px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
#starBg {
  animation: changeColor 0.4s infinite alternate;
}

@keyframes changeColor {
  0% {
    fill: aliceblue;
  }
  100% {
    fill: #ffd700;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(117, 114, 113, 0.8) 10%,
      rgba(40, 49, 77, 0.8) 30%,
      rgba(29, 35, 71, 0.8) 50%,
      rgba(19, 25, 28, 0.8) 80%,
      rgba(15, 14, 14, 0.8) 100%
    ),
    url(https://38.media.tumblr.com/tumblr_m00c3czJkM1qbukryo1_500.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.scene {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: transparent;
  pointer-events: none;
  z-index: 2;
}
#overlays {
  pointer-events: all !important;
}

.credits {
  position: fixed;
  bottom: 10px;
  right: 10px;
  max-width: 250px;
  z-index: 10;
  text-align: right;
}

a {
  display: block;
  padding: 2px 0;
  color: #1d1f3f;
  text-decoration: none;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 15px;
}

a:hover {
  text-decoration: underline;
}

.gift.hidden {
  display: none;
}

.gift {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffeab0;
  cursor: pointer;
  z-index: 2;
  /* display: none; */
}

.gift svg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffeab0;
}

#felizAudio {
  z-index: 10;
}
.whatsapp {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

#byjoy {
  z-index: 2;
  margin-top: 20rem;
  right: 8rem;
  animation: fillAnim 0.5s ease forwards 3.5s;
  /* bottom: 1rem; */
  /* position: absolute; */
}

#byjoy path:nth-child(1) {
  /* stroke-dasharray: 5px; */
}
#byjoy path:nth-child(2) {
  stroke-dasharray: 254;
  stroke-dashoffset: 254;
  animation: lineAnimation 2s ease forwards infinite;
}
#byjoy path:nth-child(3) {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: lineAnimation 2s ease forwards infinite;
}
#byjoy path:nth-child(4) {
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  animation: lineAnimation 2s ease forwards infinite;
}
#byjoy path:nth-child(5) {
  stroke-dasharray: 235;
  stroke-dashoffset: 235;
  animation: lineAnimation 2s ease forwards infinite;
}
#byjoy path:nth-child(6) {
  stroke-dasharray: 155;
  stroke-dashoffset: 155;
  animation: lineAnimation 2s ease forwards infinite;
}

#byjoy path:nth-child(7) {
  stroke-dasharray: 235;
  stroke-dashoffset: 235;
  animation: lineAnimation 2s ease forwards infinite;
}

#byjoy path:nth-child(8) {
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  animation: lineAnimation 2s ease forwards infinite;
}

#byjoy path:nth-child(9) {
  stroke-dasharray: 254;
  stroke-dashoffset: 254;
  animation: lineAnimation 2s ease forwards infinite;
}

#byjoy path:nth-child(10) {
  stroke-dasharray: 205;
  stroke-dashoffset: 205;
  animation: lineAnimation 2s ease forwards infinite;
}

@keyframes lineAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillAnim {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}

#firecracker {
  opacity: 0.5;
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
